.App {
  width: 100%;
}
.logo{
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}
.alphabet{
  margin: 20px;
}
.list{
  padding: 20px;
  border-bottom: 1px solid #c4c4c4;
}
.title{
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.text{
  font-size: 14px;
  color: gray;
  margin: 10px 10px 0 0;
  display: inline-block;
}
.like-wrap{
  display: inline;
}
.like-btn{
  display: inline-block;
  margin: 0 5px 0 5px;
  cursor: pointer;
  z-index: 99 ;
}
.modal{
  padding: 20px;
  margin: 10px auto;
  width: 50%;
  background: #dcdcdc;
}
.content{
  padding: 10px 0;
}
.input-typing{
  width: 150px;
  padding: 1px 5px;
}
.del-btn{
  display: inline-block;
  margin-left: 10px;
}